h1 {
  color: #fc709b;
  text-align: center;
  margin: 0 auto;
  display: block;
}
 a {
  text-align: center;
  margin: 0 auto;
  display: block;
 }
 



 li{
   list-style: none;
 }

small {
  text-align: center;
  margin: 0 auto;
  display: block;
}
.container
{
margin: 100px auto 12px;
display: block;
padding: 15px 50px;
max-width: 420px;
background-image: url("img/cute-cartoon-snail-isolated-white-background-vector-74738243.jpg");
background-size: 10%;
background-repeat: no-repeat;
background-position: bottom;
border: 1px solid #a2c11c;
border-radius: 30px;
}
.maintemperature {
  font-size: 50px;
  text-align: center;
  margin: 0 auto;

}
.wrap-temp{
  text-align: center;
}
.units {
  font-size: 12px;
  text-align: center;
  margin: 0 auto;
  position: relative;
  top: -22px;
}
#currentIcon{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
}

#sourceCode {
  font-size: 10px;
  font-family: monospace;
  text-align: center;
  opacity: 0.5;
}
