h1 {
  color: #ea4961;
  text-align: center;
  margin: 0 auto;
  display: block;
}
 a {
  text-align: center;
  margin: 0 auto;
  display: block;
 }
 
 li{
   list-style: none;
 }
 ul{
   padding-left: 0px;
 }

small {
  text-align: center;
  margin: 0 auto;
  display: block;
}
.container
{
margin: 100px auto 12px;
display: block;
padding: 15px 50px;
max-width: 420px;
background-image: url("img/cute-cartoon-snail-isolated-white-background-vector-74738243.jpg");
background-size: 15%;
background-repeat: no-repeat;
background-position: bottom;
border: 2px solid #a2c11c;
border-radius: 30px;
}
.maintemperature {
  font-size: 50px;
  text-align: center;
  margin: 0 auto;

}
.wrap-temp{
  text-align: center;
}
.units {
  font-size: 12px;
  text-align: center;
  margin: 0 auto;
  position: relative;
  top: -22px;
}
.location:hover {
  cursor: pointer;
}

.wrap-temp .active{
  color: black;
}

.row.temperature{
  color: black;
  text-align: center;
  font-size: 10px;
}


#currentIcon{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  margin-bottom: -21px;
}

#sourceCode {
  font-size: 10px;
  font-family: monospace;
  text-align: center;
  opacity: 0.5;
}

#dateTime {
  text-align: center;
  margin: 0 auto;
  display: block;
  font-size: 12px;
   
}

#search-input {
  border-radius: 30px;
  margin: 10px 0px 10px 25px;
  border: 1px solid;
  background-color: white;
  padding: 0px 32px;}

  #currentlocation {
    max-width: 35px;
    position: relative;
    bottom: 2px;
  }
  
  
  ::placeholder {
    color: black;
    font-size: 1 em;
    text-align: center;}

    #celsius-temp, #fahrenheit-temp{
      text-decoration: none;
      display: contents;
      
    }
    #opensourceLink{
      display: contents;
    }
.weekday {
  border: 1px solid #cdeffc;
  background: #cdeffc;
  color: blue;
  font-style: italic;
  text-align: center;
  margin: auto;
}

.wheatericons {
  max-width: 110%;
}
